<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean id="userService" class="com.my.service.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
        <property name="age" value="20"/>
        <property name="sex" value="男"/>
        <property name="list">
            <list>
                <value>张飞</value>
                <value>张亮</value>
                <value>张洽</value>
            </list>
        </property>
        <property name="userDaos">
            <list>
                <bean class="com.my.dao.UserDaoImpl"></bean>
                <bean class="com.my.dao.UserDaoImpl"></bean>
            </list>
        </property>
        <property name="map">
            <map>
                <entry key="第一名" value-ref="userDao"></entry>
            </map>
        </property>
        <property name="properties">
            <props>
                <prop key="1">张飞</prop>
                <prop key="2">关羽</prop>
            </props>
        </property>
    </bean>

</beans>